<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
 
  <link rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body>
  <div class="bg-gray-200 w-1/2 p-4 flex flex-col justify-center space-y-3 mx-auto mt-4">
    <h1 class="text-2xl font-bold" th:text="${name}">Welcome to home page</h1>
    <p class="text-xl text-gray-700">
      YouTube Channel : <span th:text="${youtubeChannel}"></span></p>
    <p> GitHub Repository Link : <span th:text="${githubRepository}"> </span></p>

    <a th:href="${githubRepository}"
       target="_blank"
       class="text-blue-600 underline">
      Click here to open
    </a>
    <p class="text-gray-600">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, tempore. Tenetur soluta id quaerat quisquam, expedita ab, blanditiis optio repudiandae, asperiores accusamus numquam fugiat quod mollitia sapiente modi ipsa ad.
    </p>

    <div> <button class="px-3 py-3 rounded bg-blue-700 text-white hover:bg-blue-600">Click Here</button>
    </div>
  </div>
  <!-- flow bite content -->
  

<div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
    <svg class="w-7 h-7 mb-3 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 21v-9m3-4H7.5a2.5 2.5 0 1 1 0-5c1.5 0 2.875 1.25 3.875 2.5M14 21v-9m-9 0h14v8a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-8ZM4 8h16a1 1 0 0 1 1 1v3H3V9a1 1 0 0 1 1-1Zm12.155-5c-3 0-5.5 5-5.5 5h5.5a2.5 2.5 0 0 0 0-5Z"/></svg>
    <a href="#">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-heading">Need a help in Claim?</h5>
    </a>
    <p class="mb-3 text-body">Go to this step by step guideline process on how to certify for your weekly benefits:</p>
    <a href="#" class="inline-flex font-medium items-center text-fg-brand hover:underline">
        See our guideline
        <svg class="w-4 h-4 ms-2 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"/></svg>
    </a>
</div>
  
  <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
  
</body>
</html>